<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>VUTTR</title>
</head>
<body>
    <div id="titulos">
        <h1>VUTTR</h1>
        <h2>Very Usefull Tools to Remember</h2>
    </div>

    <div>
    {% for ferramenta in lista_ferramentas %}
        <div id="card_ferramenta">
            <a href="{{ ferramenta.get_link }}">{{ ferramenta.get_nome() }}</a>
            <p>{{ ferramenta.get_descricoes() }}</p>
            
            <div id="tags">
            {% for tag in ferramenta.get_tags() %}
            <li class="tag">#{{ tag }}</li>
            {% endfor %}
            </div>

        </div>
    {% endfor %}
    </div>
</body>
</html>