<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>VUTTR</title>
</head>
<body>
    <div id="titulos">
        <h1>VUTTR</h1>
        <h2>Very Usefull Tools to Remember</h2>
    </div>

    <div id="campos_header">
        <div>
            <form action="filtrar">
                <label for="buscar">Buscar:</label>
                <input type="text" id="buscar", name="filtro">
                <input type="submit">
                <input type="checkbox" name="only_tag" id="only_tag">
                <label for="only_tag">search in tags only</label>
            </form>
        </div>
        <div>
        <button onclick="abrirJanela()">+ Add</button>
        </div>
    </div>

    <div>
    {% for ferramenta in lista_ferramentas %}
        <div id="card_ferramenta">
            <div id="header_card">
                <a id="aHeader" href="{{ ferramenta.get_link() }}">{{ ferramenta.get_nome() }}</a>
                <a id="aDelete" href="{{ url_for('deletar', nome=ferramenta.get_nome()) }}">X remove</a>
                <button onclick="pop_excluir('{{ ferramenta.get_nome() }}')">Excluir</button>
            </div>


            <div class="pop_excluir" id="{{ferramenta.get_nome()}}">
                <p>Deseja excluir?</p>
                <p>{{ferramenta.get_nome()}}</p>
                <a id="aDelete" href="{{ url_for('deletar', nome=ferramenta.get_nome()) }}">X remove</a>
            </div>




            <p>{{ ferramenta.get_descricoes() }}</p>
            
            <div id="tags">
            {% for tag in ferramenta.get_tags() %}
            <li class="tag">#{{ tag }}</li>
            {% endfor %}
            </div>

        </div>
    {% endfor %}
    </div>

    <div id="formulario_suspenso">

        <div id="botao_fecha">
            <button onclick="fecharJanela()">X</button>
        </div>
        
        <form action="{{ url_for('adicionar') }}" method='POST'>
            <h2>Adicionar ferramenta</h2>

            <div>
                <label for="fer_nome">Nome:</label>
                <input type="text" name="fer_nome" id="fer_nome">
            </div>
            <div>
                <label for="fer_link">Link:</label>
                <input type="url" name="fer_link" id="fer_link">
            </div>
            <div>
                <label for="fer_desc">Descrição:</label>
                <textarea name="fer_desc" id="fer_desc" cols="40" rows="5"></textarea>
            </div>
            <div>
                <label for="fer_tags">Tags:</label>
                <textarea name="fer_tags" id="fer_tags" cols="40" rows="2"></textarea>
            </div>

            <div id="botao_form">
            <button type="submit">Adicionar ferramenta</button>
            </div>
            
        </form>

    </div>

<script src="{{ url_for('static', filename='Scripts/scripts.js') }}"></script>
</body>
</html>