<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1> aqui vai a index meno</h1>
    
    {% for ferramenta in lista_ferramentas %}
    <div>
        <a href="{{ ferramenta.get_link }}">{{ ferramenta.get_nome() }}</a>
        <p>{{ ferramenta.get_descricoes() }}</p>
        <div>
        {% for tag in ferramenta.get_tags() %}
        <p>{{ tag }}</p>
        {% endfor %}
        </div>

    </div>
    {% endfor %}
    </div>
</body>
</html>